h4{
    color: #777;
    height: 20px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 1px;
}
@media screen and (max-width:731px) {
	nav.navbar.navbar-default {
    z-index: 1;
}
}
@media screen and (min-width: 320px) and (max-width: 992px) and  (orientation: landscape) {
	nav.navbar.navbar-default {
    z-index: 1;
}
}
